/* Home.jsx */
* {
  font-family: "Abel", sans-serif;
}

.nav-main {
  height: 65px;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  position: fixed;
  z-index: 100;
  justify-content: space-between;
}

.nav-link {
  margin: 25px;
  color: white;
  font-family: "Abel", sans-serif;
  text-decoration: none;
  font-size: 18px;
}

.nav-section {
  display: flex;
}

.link {
  text-decoration: none;
  color: white;
}

.homepage-image {
  width: 100vw;
}

.title {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.397);
  left: 50%;
  border: solid 4px white;
  color: white;
  padding: 20px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  text-shadow: black 0.2em 0.1em 0.2em;
  font-size: 2em;
  box-shadow: black 0.2em 0.1em 0.2em;
}

.section1 {
}

.all-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-container {
  width: 350px;
  padding: 50px;
  font-size: 23px;
}

/* Début de css du slider : */

.slide-container {
  width: 67.5%;
  margin: auto;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 650px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}
