/* ItineraryPlanner.jsx  */

.itinerary-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../images/travel-route.jpg");
    background-size: cover;
}

.itinerary-planner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
    font-size: 25px;
    width: 70vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.itinerary-form {
    display: flex;
    flex-direction: column;
    font-size: 23px;
    align-items: center;
    padding: 30px;
}




label {
    margin: 10px;
    font-size: 20px
}

input {
    margin: 10px;
    height: 25px;
    width: 90%;
    display: flex;
    font-size: 20px
}

.steps {
    display: flex;
    align-items: center;
    width: 70%;
}

.steps.active {
    background: green;
}

.add-button {
    width: 25px;
    height: 25px;
}

.remove-button {
    height: 25px;
}

.map-container {
    z-index: 100;
}

.accomodation {
    margin: 30px;
}

.map {
    margin: 30px;
}

.create-button {
    font-size: 20px;
    margin-top: 30px;
    height: 35px;
    align-items: center;
}

.booking-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../images/dino-reichmuth.jpg");
    background-size: cover;
}

.booking-planner {
    display: flex;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);

}

.geoline {

    text-align: center;
    align-content: center;
    display: flex;
}

.steps {
    background-color: white;
    width: 150px;
    margin: 30px;
    text-align: center;
    font-size: 22px;
    justify-content: center;
}

.transportation-cards {
    background: rgb(228, 170, 170);
    color: black
}

.accomodation-cards {
    background: rgb(196, 219, 176);
    color: black
}

.activity-cards {
    background: rgb(163, 193, 236);
    color: black
}

.transportation,
.accomodation-card,
.activity-card {
    background: white;
    margin: 10px
}

.cards-container {
    display: flex
}