.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Home.jsx */

.nav-main {
  height: 60px;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  position: fixed;
}

.nav-link {
  margin: 20px;
  color: white;
  font-family: "Abel", sans-serif;
  text-decoration: none;
  font-size: 20px;
}

.homepage-image {
  width: 100vw;
}

.title {
  left: 50%;
  border: solid 3px white;
  color: white;
  padding: 30px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
}

.section1 {}

/* ItineraryPlanner.jsx  */

.itinerary-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.trip-container {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 50px 0 50px
}

.map-container {
  z-index: 100;

}

.accomodation {
  margin: 30px
}

.map {
  margin: 30px
}